#loader-section {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#load-inner {
  position: relative;
  text-align: center;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 2px;
}

#load-inner svg {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-pagination-bullet {
  /* background-color: rgba(156, 156, 156, 0.305) !important;
    opacity: 100% !important; */
  height: 0px !important;
  width: 0px !important;
}
.swiper-pagination-bullet-active {
  /* background: white !important;
    opacity: 100% !important; */
  height: 0px !important;
  width: 0px !important;
}

.swiper-slide {
  font-size: 14px !important;
}

button {
  border: none;
  border-width: 0px;
}

p.odds_volume {
  text-align: center;
  max-width: 30px;
  margin: 0 auto;
  font-size: 10px;
  line-height: normal;
}
h4 {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  line-height: 14px;
}

.blink {
  animation: blinking 300ms !important;
  -webkit-animation: blinking 300ms !important;
  background-color: #ffc01a !important;
}

@keyframes blinking {
  100% {
    background-color: #ffc01a !important;
  }
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100 - 180px);
}

.animate-spin {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Loader end*/

/* Live casino section */
.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897] {
  margin: 0px 0;
  padding: 0 10px 25px;
}

.page-body[_ngcontent-ng-c1965075897]
  .game-play-heading[_ngcontent-ng-c1965075897] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1px 5px;
}

.page-body[_ngcontent-ng-c1965075897]
  .game-play-heading[_ngcontent-ng-c1965075897]
  h2[_ngcontent-ng-c1965075897] {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-500);
  margin: 0;
  position: relative;
  text-transform: capitalize;
  padding-bottom: 3px;
}

.page-body[_ngcontent-ng-c1965075897]
  .game-play-heading[_ngcontent-ng-c1965075897]
  h2[_ngcontent-ng-c1965075897]:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 10px);
  border-radius: 0 0 10px;
  background-color: var(--secondary-color);
  height: 2px;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897] {
  margin: 0;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897] {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 8px;
  width: 100%;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897] {
  margin-left: 0;
  position: relative;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  a[_ngcontent-ng-c1965075897] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  a.active[_ngcontent-ng-c1965075897]:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: inset 0 0 30px var(--grey-500);
  z-index: 100;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  a[_ngcontent-ng-c1965075897]
  img[_ngcontent-ng-c1965075897] {
  width: 100%;
  height: 150px;
  object-position: top center;
  object-fit: cover;
  border-radius: 5px;
  border: 0px solid transparent;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  a[_ngcontent-ng-c1965075897]:after {
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #0006;
  z-index: 99;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .total-players[_ngcontent-ng-c1965075897] {
  background-color: var(--header-dark-color);
  border-radius: 6px;
  border: 1px solid var(--grey-600);
  color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 999;
  opacity: 1;
  column-gap: 5px;
  font-size: 10px;
  opacity: 0.9;
}

.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  overflow: hidden;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: "liga"; */
  -webkit-font-smoothing: antialiased;
}
.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .game-detail[_ngcontent-ng-c1965075897] {
  background-color: #323232;
  padding: 25px 10px 8px;
  margin-top: -20px;
  border-radius: 0 0 10px 10px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  /* min-height: 80px; */
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .game-detail[_ngcontent-ng-c1965075897]
  p.company-type[_ngcontent-ng-c1965075897],
.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .game-detail[_ngcontent-ng-c1965075897]
  p.coins-limit[_ngcontent-ng-c1965075897] {
  font-size: 10px;
  color: #ffffff;
  opacity: 0.6;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .game-detail[_ngcontent-ng-c1965075897]
  p.game-name[_ngcontent-ng-c1965075897] {
  font-size: 12px;

  color: #ffffff;
  opacity: 1;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .game-detail[_ngcontent-ng-c1965075897]
  p[_ngcontent-ng-c1965075897] {
  padding-left: 0;
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .game-detail[_ngcontent-ng-c1965075897]
  p.company-type[_ngcontent-ng-c1965075897],
.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .game-detail[_ngcontent-ng-c1965075897]
  p.coins-limit[_ngcontent-ng-c1965075897] {
  font-size: 10px;
  color: #ffffff;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .page-body[_ngcontent-ng-c1965075897]
    .casino-section[_ngcontent-ng-c1965075897]
    .game-type-list[_ngcontent-ng-c1965075897]
    ul[_ngcontent-ng-c1965075897] {
    grid-template-columns: repeat(4, 1fr);
  }
}

.page-body[_ngcontent-ng-c1965075897]
  .casino-section[_ngcontent-ng-c1965075897]
  .game-type-list[_ngcontent-ng-c1965075897]
  ul[_ngcontent-ng-c1965075897]
  li[_ngcontent-ng-c1965075897]
  .total-players[_ngcontent-ng-c1965075897] {
  background-color: #181e25;
  border-radius: 6px;
  border: 1px solid #3b3b3b;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 999;
  opacity: 1;
  column-gap: 5px;
  font-size: 10px;
  opacity: 0.9;
}

.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  overflow: hidden;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: "liga"; */
  -webkit-font-smoothing: antialiased;
}

/* Dropdown */

.filter-wrapper[_ngcontent-ng-c1965075897] {
  z-index: 1000;
  background-color: #eeeeee;
  padding-top: 0px;
}

.filter-wrapper[_ngcontent-ng-c1965075897]
  .filter-search[_ngcontent-ng-c1965075897] {
  display: grid;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  column-gap: 10px;
  top: 0px;
  /* z-index: 1000; */
}

.filter-wrapper[_ngcontent-ng-c1965075897]
  .filter-search[_ngcontent-ng-c1965075897]
  .select-wrap[_ngcontent-ng-c1965075897] {
  display: flex;
  flex-direction: column;
}

.filter-wrapper[_ngcontent-ng-c1965075897]
  .filter-search[_ngcontent-ng-c1965075897]
  .select-wrap[_ngcontent-ng-c1965075897]
  .label-cont[_ngcontent-ng-c1965075897] {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4px;
}

.filter-wrapper[_ngcontent-ng-c1965075897]
  .filter-search[_ngcontent-ng-c1965075897]
  .select-wrap[_ngcontent-ng-c1965075897]
  .label-cont[_ngcontent-ng-c1965075897]
  label[_ngcontent-ng-c1965075897] {
  font-size: 10px;
  color: var(--text-contrast);
  opacity: 1;
}

.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  text-align: left;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mat-form-field-container-text-font);
  line-height: var(--mat-form-field-container-text-line-height);
  font-size: var(--mat-form-field-container-text-size);
  letter-spacing: var(--mat-form-field-container-text-tracking);
  font-weight: var(--mat-form-field-container-text-weight);
}
.mdc-text-field--filled {
  --mdc-filled-text-field-active-indicator-height: 1px;
  --mdc-filled-text-field-focus-active-indicator-height: 2px;
  --mdc-filled-text-field-container-shape: 4px;
  border-top-left-radius: var(--mdc-filled-text-field-container-shape);
  border-top-right-radius: var(--mdc-filled-text-field-container-shape);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mdc-text-field--filled {
  --mdc-filled-text-field-active-indicator-height: 0px;
  /* --mdc-filled-text-field-active-indicator-height: 1px; */
  border-bottom: 2px solid black;
  --mdc-filled-text-field-container-shape: 4px;
  border-top-left-radius: var(--mdc-filled-text-field-container-shape);
  border-top-right-radius: var(--mdc-filled-text-field-container-shape);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mat-mdc-form-field-focus-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.mat-mdc-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}

.mat-mdc-form-field-infix {
  flex: auto;
  min-width: 0;
  width: 180px;
  position: relative;
  box-sizing: border-box;
}

.mat-mdc-select {
  display: inline-block;
  width: 100%;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--mat-select-enabled-trigger-text-color);
  font-family: var(--mat-select-trigger-text-font);
  line-height: var(--mat-select-trigger-text-line-height);
  font-size: var(--mat-select-trigger-text-size);
  font-weight: var(--mat-select-trigger-text-weight);
  letter-spacing: var(--mat-select-trigger-text-tracking);
}

.mat-mdc-select-trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.mat-mdc-select-value {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-mdc-select-value-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-form-field-appearance-fill
  .mdc-text-field--no-label
  .mat-mdc-select-arrow-wrapper {
  transform: none;
}

.mat-mdc-select-arrow {
  width: 10px;
  height: 5px;
  position: relative;
  color: var(--mat-select-enabled-arrow-color);
}

.mat-mdc-select-arrow svg {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-container {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  background-color: #c0c0c0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-container button {
  padding-left: 10px;
  border: none;
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: start;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.dropdownBG {
  background-color: var(--color1) !important;
}
.white-bg {
  background-color: white !important;
}

.runs {
  background-color: gray;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 0.6rem;
  width: clamp(20px, 6vw, 30px);
  height: clamp(20px, 6vw, 30px);
}
.activeRun {
  background-color: #138807 !important;
}

/* referral modal */

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 2000;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
}
.cdk-overlay-backdrop {
  position: absolute;
  inset: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.mdc-dialog__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100%;
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
}

.mdc-dialog__surface::before {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: inherit;
  content: "";
  pointer-events: none;
}

.mat-mdc-dialog-container.mdc-dialog .modal-header {
  position: relative;
  padding: 10px 0;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
}

.modal-header[_ngcontent-ng-c526813732] .img-wrap[_ngcontent-ng-c526813732] {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-header[_ngcontent-ng-c526813732]
  .img-wrap[_ngcontent-ng-c526813732]
  img[_ngcontent-ng-c526813732] {
  width: 175px;
  max-height: 70px;
  height: auto;
  min-width: auto;
  object-fit: contain;
}

.modal-header[_ngcontent-ng-c526813732]
  .modal-close-btn[_ngcontent-ng-c526813732] {
  background: white !important;
  color: black;
}

.mat-mdc-dialog-container.mdc-dialog .modal-header .modal-close-btn {
  min-width: auto;
  width: 25px;
  max-height: 25px;
  background: var(--primary-bg) !important;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.mat-mdc-dialog-container.mdc-dialog .modal-body {
  padding: 10px;
}

.modal-body[_ngcontent-ng-c526813732] h3[_ngcontent-ng-c526813732] {
  font-size: 18px;

  margin: 0;
}

.modal-body[_ngcontent-ng-c526813732] p[_ngcontent-ng-c526813732] {
  font-size: 12px;
  margin: 0;
}

.modal-body[_ngcontent-ng-c526813732] .referral-code[_ngcontent-ng-c526813732] {
  background-color: rgb(212, 212, 212);
  border-radius: 6px;
  padding: 10px;
  position: relative;
  height: 45px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.modal-body[_ngcontent-ng-c526813732]
  .referral-code[_ngcontent-ng-c526813732]
  button[_ngcontent-ng-c526813732] {
  position: absolute;
  right: 0;
  width: 30px;
  height: 45px;
  top: 0;
  background-color: var(--color1);
}

button.btn {
  font-size: 12px;
  white-space: nowrap;
  border: none;
  min-height: 25px;
  border-radius: 10px;
  min-width: 75px;
  font-weight: 300;
  cursor: pointer;
  width: 100%;
}
/* referral modal */

/*!-------------- Score card-------------- */

*,
::after,
::before {
  box-sizing: border-box;
}
svg {
  vertical-align: middle;
}
@media (min-width: 768px) {
  .mb-md-3 {
    margin-bottom: 1rem !important;
  }
}

svg:not(:root) {
  overflow: hidden;
}
svg {
  vertical-align: middle;
}
svg {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
svg:not(:root) {
  overflow: hidden;
}
::selection {
  background: #ffffff;
  color: #fff;
  text-shadow: none;
}
html * {
  box-sizing: border-box;
}
::selection {
  background: #09262b;
}

.sc_cw-main-container {
  width: 100% !important;
  /* height: 168px; */
  background-color: #fff;
  font-size: 10px !important;
}
.sc_cw-header {
  display: flex;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: #555555;

  font-weight: 600;
}
.sc_cw-team-info-desktop {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  gap: 5px;
  width: 100%;
}
.sc_cw-team-info-mobile {
  display: none;
  grid-template-rows: 2fr;
  padding: 4px 0;
  width: 50%;
  line-height: 1.3;
}
.sc_cw-overs-info {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  overflow-x: auto;
  white-space: nowrap;
}
.sc_cw-over {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000000;
}
.sc_cw-ball {
  background-color: #cbcbcb;
  color: #000000 !important;
  padding-left: 5px;
  padding-right: 5px;
  border: 0px solid #000000;
  border-radius: 10px;
}
.sc_cw-other-info {
  width: 100%;
  padding: 2px;
  background-color: #555555;
  color: #fff;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
}
.sc_cw-other-info-mobile {
  display: none !important;
}
.sc_cw-other-info div {
  width: 100%;
  text-align: center;
  border-right: 1px solid #fff;
}
.sc_cw-other-info div:last-child {
  border-right: none;
}

.sc_cw-table-heading {
  width: 100%;
  gap: 20px;
  background-color: #cbcbcb;
  color: #000000;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.sc_cw-table-heading div {
  width: 100%;
  text-align: center;
}
.sc_cw-table-row {
  width: 100%;
  gap: 20px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc_cw-table-row div {
  width: 100%;
  text-align: center;
}
.sc_cw-mobile-row {
  display: none !important;
}
.sc_cw-desktop-row {
  display: flex !important;
}
.sc_cw-overs-info-mobile {
  display: none !important;
}
@media (max-width: 0) {
  .sc_cw-other-info {
    display: none !important;
  }
  .sc_cw-other-info-mobile {
    display: flex !important;
    width: 100%;
    padding: 2px;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
  }
  .sc_cw-overs-info-mobile {
    display: flex !important;
    border-top: 0.5px solid var(--color-bg-primary) !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: #fff !important;
    font-size: 12px;
    overflow-x: auto;
    white-space: nowrap;
  }
  .sc_cw-overs-info {
    display: none !important;
  }
  .sc_cw-desktop-row {
    display: none !important;
  }
  .sc_cw-mobile-row {
    display: flex !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
  .sc_cw-mobile-label {
    border-radius: 2px !important;
    background-color: #cbcbcb;
    color: #000000;
    padding-left: 7px;
    padding-right: 7px;
  }
  .sc_cw-table-heading {
    display: none !important;
  }
  .sc_cw-header {
    align-items: flex-start;
    gap: 8px;
  }
  .sc_cw-team-info-mobile {
    display: grid;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .sc_cw-team-info-desktop {
    display: none;
  }
  .sc_cw-blinking-text {
    animation: blink 2s infinite;
  }
}

@media all {
  .cls-1 {
    fill: #fc6;
  }
  .cls-2 {
    fill: #000100;
  }
}

@media all {
  .cls-1 {
    fill: #003a61;
  }
  .cls-2 {
    fill: #00a9e4;
  }
  .cls-3 {
    fill: #00eacf;
  }
  .cls-4 {
    fill: #fed853;
  }
}

@media all {
  .cls-1 {
    fill: #fc6;
  }
  .cls-2 {
    fill: #000100;
  }
}

@media all {
  .cls-1 {
    fill: #003a61;
  }
  .cls-2 {
    fill: #00a9e4;
  }
  .cls-3 {
    fill: #00eacf;
  }
  .cls-4 {
    fill: #fed853;
  }
}

@media all {
  .cls-1 {
    fill: #fc6;
  }
  .cls-2 {
    fill: #000100;
  }
}

@media all {
  .cls-1 {
    fill: #fc6;
  }
  .cls-2 {
    fill: #000100;
  }
}

@media all {
  .cls-11 {
    fill: #c54031;
  }
  .cls-21 {
    fill: #fff;
  }
}

@media all {
  .cls-11 {
    fill: #c54031;
  }
  .cls-21 {
    fill: #fff;
  }
}

@keyframes blink {
  0% {
    color: #7d16a9;
  }
  50% {
    color: #c07ddb;
  }
  100% {
    color: #7d16a9;
  }
}

/* Horse Banner */
.horse-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  height: 100px;
}
.horse-banner > img {
  height: 100%;
}

.horse-banner-detail {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #fff;
}

.horse-banner .horse-banner-detail div:first-child {
  font-weight: bold;
  text-transform: uppercase;
  color: #00b900 !important;
}

.horse-timer {
  font-weight: bold;
  color: #fdcf13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.time-detail {
  color: #eee;
  text-align: right;
}

.horse-timer small {
  color: #fff;
  font-weight: bold;
}

.horse-timer > span:last-child {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.jockey-detail .jockey-detail-box {
  background-color: #cccccc;
  color: #000000;
  padding: 0 3px;
  margin-right: 5px;
  font-size: 13px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

@media (max-width: 768px) {
  .sm-d-none {
    display: none !important
;
  }
}
/* Horse banner */

.rs-pagination-btn.rs-pagination-btn-active {
  color: var(--color1) !important;
  background-color: transparent;
  border: 1px solid var(--color1) !important;
}

.rs-pagination-md .rs-pagination-btn-active {
  padding: 3px 5px !important;
}
.rs-pagination-md .rs-pagination-btn {
  padding: 3px 5px !important;
}

/*! Download apk css start  */

.promo-card {
  color: #000;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.header-content {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.05);
}

.phone-mockup {
  width: 70px;
  height: 120px;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.install-btn {
  background: var(--color1);
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
}

.main-title {
  font-size: 1.4rem;
  color: var(--color1);
  line-height: 1.2;
}

.promo-body {
  padding: 20px;
}

.intro-text,
.closing-text {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000;
}

.benefits-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.benefits-list {
  list-style: none;
  padding: 0;
}

.benefits-list li {
  margin-bottom: 6px;
  padding-left: 30px;
  position: relative;
  font-size: 0.9rem;
}

/* Custom Checkmark */
.benefits-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  background: var(--color1);
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
}

.benefits-list strong {
  color: #000;
  font-weight: 700;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color1);
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
  transition: transform 0.2s;
}

.download-button:hover {
  transform: scale(1.02);
}

.android-icon {
  width: 16px;
  margin-right: 10px;
}
/*! Download apk css end  */
